
		
	
<nav class = "navbar-fixed-bottom">
<div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="navigation">

	<form method="get" action="/home" class="btn-group" role="group">
	  	
			<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
			<input type = "hidden" name = "usr" value = "{{user}}"> </input>
			<input type = "hidden" name = "eml" value = "{{email}}"> </input>
	    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
	</form>


	<form method="get" action="/trainer" class="btn-group" role="group">
	  	
			<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
			<input type = "hidden" name = "usr" value = "{{user}}"> </input>
			<input type = "hidden" name = "eml" value = "{{email}}"> </input>
	    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span></button>
	</form>


	<form method="get" action="/stats" class="btn-group" role="group">
	  	
			<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
			<input type = "hidden" name = "usr" value = "{{user}}"> </input>
			<input type = "hidden" name = "eml" value = "{{email}}"> </input>
	    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>
	</form>

	<form method="get" action="/avatar" class="btn-group" role="group">
	  	
			<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
			<input type = "hidden" name = "usr" value = "{{user}}"> </input>
			<input type = "hidden" name = "eml" value = "{{email}}"> </input>
	    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
	</form>
		
 
</div>
</nav>
