<!doctype html>

<html>
<head>
	<title>Power Upp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/team2.css">
	<link rel="stylesheet" href="/css/team1.css">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/avatarScreen.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

<div class="container-fluid">
	<div class="page-header">
  		<h1 style = "text-align: center;">POWER UPP </h1>
	</div>
	
	<a href = "/" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out
    </a>

    <a href = "/leader" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-king" aria-hidden="true"></span> Leaderboard
    </a>

    <div class="row">
		  <div class="col-md-5"></div>
		  <div class="col-md-4">
		  	
		  	<h1 style= "text-align:Center; font-family: Anton">Welcome <span id = 'user'> </span></h1> 
		  	<h4 style="text-align:center" id = "points"> </h4>
		  	
		  </div>
		  <div class="col-md-3"></div>
		</div>


	<div class="row avatars">
	  <div class="col-md-5"></div>
	  <div class="col-md-4">
	  	<br>
	  	
	  	{{#each Heroes}}
	  	<div class = "bigicon" id = "{{title}}Big" style = "display:none;">
	  	<h1 style= "text-align:Center">{{title}}</h1> 
	  	<p align="center" display:"none"> <img src="{{bigsrc}}" style="width:150px; height:240px"> </p>
	  </div>
	  	{{/each}}

	  	{{#each Villains}}
	  	<div class = "bigicon" id = "{{title}}Big" style = "display:none;">
	  	<h1 style= "text-align:Center">{{title}}</h1> 
	  	<p align="center" display:"none"> <img src="{{bigsrc}}" style="width:150px; height:240px"> </p>
	  </div>
	  	{{/each}}
	  </div>
	  <div class="col-md-3"></div>
	</div>
	<div class="row">
		  <div class="col-md-3"></div>
		  <div class="col-xs-3 col-md-1">
		    <h4>Team:</h4>
		  </div>
		  <div class="col-xs-6 col-md-6">
			  <h2 style = "text-align:center" id = "avat"><span id = "teamname"> </span> </h2>
		  </div>
		</div>
		
	<div class="btn-toolbar" role="toolbar" aria-label="...">
		<div id = "smallher" style = "display:none">
		{{#each Heroes}}
	  <div class="btn-group btn-group-lg icons" id = "{{title}}" role="group" aria-label="{{name}}"> <a href =""><img src="{{smallsrc}}" style="width:90px; height:90px"></a></div>
	  {{/each}}
	</div>

	  <div id = "smallvil" style = "display:none">
	  {{#each Villains}}
	  <div class="btn-group btn-group-lg icons" id = "{{title}}" role="group" aria-label="{{name}}"> <a href =""><img src="{{smallsrc}}" style="width:90px; height:90px"></a></div>
	  {{/each}}
	  </div>
	</div>

<br><br>
	
	<div class = "row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
				<nav class = "navbar-fixed-bottom">
				<div class = "container-fluid">
					<div class="btn-group btn-group-justified btn-group-lg">
					  	<a href="/home" class="btn btn-primary">
					  	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						</a>
						<a href="/trainer" class="btn btn-primary">
						<span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
						</a>
						<a href="/stats" class="btn btn-primary">
						  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
						</a>
						<!--a href="#" class="btn btn-primary">
						  	<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
						</a-->
						<a href="#" class="btn btn-primary active">
						  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				</nav>
			</div>
	</div>
	<br>
</div>


</body>

</html>
