<!doctype html>

<html>
<head>
	<title>Power Upp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<!--link rel="stylesheet" href="/css/hci-friends.css"-->
	<link rel="stylesheet" href="/css/team2.css">
	<link rel="stylesheet" href="/css/team1.css">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<!--script src="/js/hci-friends.js"></script-->
	<script src="/js/powerupp.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

<div class="container-fluid">
	<div class="page-header">
  		<h1 style = "text-align: center;">POWER UPP </h1>
	</div>
	
	

    <form method="get" action="/avatar" role="group">
		<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
		<input type = "hidden" name = "usr" value = "{{user}}"> </input>
		<input type = "hidden" name = "eml" value = "{{email}}"> </input>
	    <button type="submit" class="btn btn-default">
		  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Go Back
		</button>
	</form>

    <div class="row">
	  <div class="col-md-5"> <p id = "tm" style = "display:none">{{tm}}</p> </div>
	  <div class="col-md-4">
	  	<h2 class = "title" style= "text-align:Center"><p class="groove">Help Page</p></h2> 
	  	<p style="font-family: Arial" align="middle"> Welcome {{user}} to Power Upp! You have successfully signed yourself up as a part of the {{tm}} team. Here, you will be able to work out to level up and gain access to more characters. You can team up with other {{tm}} and take over the gym or schedule your own plans. As you level up, you gain points not only for yourself but for your whole team! </p>
	  	<br>
	  	<h4 id = "workout" class = "help" style="font-family: Arial" align="middle"> <strong>Workouts </strong></h4>
	  	<p class = "workout" style="font-family: Arial; display:none;" align="middle"> The home page is where you can start your workout. The drop-down menu shows the list of workouts and clicking the workout shows the list of exercises. To begin the workout, you must click 'POWER UPP!' </p>
	  	<br>
	  	<h4 id = "team" class = "help" style="font-family: Arial" align="middle"> <strong>Teammates </strong></h4>
	  	<p class = "team" style="font-family: Arial; display:none;" align="middle"> The teammates page is where you can search for other {{tm}} to workout with or create your own schedule where others can join you. </p>
	  	<br>
	  	<h4 id = "stat" class = "help" style="font-family: Arial" align="middle"> <strong>Player Stats </strong></h4>
	  	<p class = "stat" style="font-family: Arial; display:none;" align="middle"> The player stats page shows you your current levels and progress. You can see your percentages and level for each category (Arms, Torso, Legs, and Cardio). You can also find out the rank requirements to access each character. </p>
	  	<br>
	  	<h4 id = "goal" class = "help" style="font-family: Arial" align="middle"> <strong>Goal </strong></h4>
	  	<p class = "goal" style="font-family: Arial; display:none;" align="middle"> Your goal is to level up and gain access to as many characters as possible. Not only do you gain points for yourself, you also gain points for your team, the {{tm}}. Each week, the winning team will get access to the ultimate prize player, Jesus. </p>
	  	<br>
	  	<h3 style="font-family: Arial" align="middle"> <strong>GOOD LUCK! </strong></h3>

	  </div>
	  <div class="col-md-3"></div>
	</div>






	<br><br><br><br>

	
	{{> navigation}}
</div>



</body>
</html>
