<!doctype html>

<html>
<head>
	{{> googleExperiment}}
	<title>Power Upp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<!--link rel="stylesheet" href="/css/hci-friends.css"-->
	<link rel="stylesheet" href="/css/team2.css">
	<link rel="stylesheet" href="/css/team1.css">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<!--script src="/js/hci-friends.js"></script-->
	<!--script src="/js/powerupp.js"></script-->
	<script src="/js/homeScreen.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class="container-fluid">
		{{> header}}		
		<div class="row">
		  <div class="col-md-5"></div>
		  <div class="col-md-4">
		  	<p id = "tm" style = "display:none">{{tm}}</p>
		  	
		  	<h1 style= "text-align:Center; font-family: Anton">Welcome <span id = 'user'> {{user}} </span></h1> 
		  	<p style="text-align:center"><img src="{{img}}" id = "avsrc" width:"150" height="200" class="img-rounded" alt="avatar" style="background-color:white"> </p>
		  	<input type = "hidden" value = "{{user}}"></input>
		  </div>
		  <div class="col-md-3"></div>
		</div>
		<div class="row">
		  <div class="col-md-3"></div>
		  <div class="col-xs-3 col-md-1">
		    <h3></h3>
		  </div>
		  <div class="col-xs-6 col-md-6">
			  <h2 style = "text-align:center" id = "avat">{{avatar}}</h2>
		  </div>
		</div>


		<div class = "workout">
			<div class="row">
				<div class="col-md-3"></div>
				
				<form class = "form-inline" id="workoutForm" role="form">
				    <div class="form-group">
				    
				      <select class="form-control work" id="workout" style = "display:none">
				      	<option value="#nowork">None</option>

				      	{{#each workouts}}
				        <option value ="#{{id}}" class = "work">{{title}}</option>
				        {{/each}}
				      </select>

				      <label for="workout" style = "font-size: 20px; text-align: center; color: lightgrey">&nbsp; <em> Please select a workout: </em></label> 
						
						<div class="list-group select">
							{{#each workouts}}
  							<button type="button" class="list-group-item work2" value = "#{{id}}">{{title}}</button>
						    {{/each}}
						</div>
				    </div>
				</form>
				</div>
			</div>

			<p id = "test" style = "display:none;">test</p>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<button id = "back" class="btn btn-default" style = "display:none">
					  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Go Back
					</button>
					<div class="list-group" id = "nowork">
					  <br><br>
					</div>

					<form method = "get" action = "/stats">
						{{#each workouts}}
						<div class="list-group" id = "{{id}}check" style = "display:none">
							<label class="checkbox disabled list-group-item blk" style = "text-align:center"><input type="checkbox" name = "ex1" disabled>{{exercise1}}</label>
							<label class="checkbox disabled list-group-item blk" style = "text-align:center"><input type="checkbox" name = "ex2" disabled>{{exercise2}}</label>
							<label class="checkbox disabled list-group-item blk" style = "text-align:center"><input type="checkbox" name = "ex3" disabled>{{exercise3}}</label>
							<label class="checkbox disabled list-group-item blk" style = "text-align:center"><input type="checkbox" name = "ex4" disabled>{{exercise4}}</label>
							<label class="checkbox disabled list-group-item blk" style = "text-align:center"><input type="checkbox" name = "ex5" disabled>{{exercise5}}</label>
							<p class = "stat" style = "display:none;">{{stat}}</p>
						</div>
						{{/each}}

						{{#each workouts}}
						<ul class="list-group blk" id = "{{id}}" style = "display:none">
						  <li class="list-group-item blk">{{exercise1}}</li>
						  <li class="list-group-item blk">{{exercise2}}</li>
						  <li class="list-group-item blk">{{exercise3}}</li>
						  <li class="list-group-item blk">{{exercise4}}</li>
						  <li class="list-group-item blk">{{exercise5}}</li>
						</ul>
						{{/each}}

						
						
						<input type = "hidden" name = "work" value = "1">
						<button id = "powerBtn" type="button" class="btn btn-success btn-lg" style="display: none; width: 100%;">
				  			POWER UPP
				  		</button>
					
				  	
				  		<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
						<input type = "hidden" name = "usr" value = "{{user}}"> </input>
						<input type = "hidden" name = "eml" value = "{{email}}"> </input>
				  		<button id = "finishBtn" type="submit" class="btn btn-success btn-lg" style="display: none; width: 100%;">
				  			FINISH
				  		</button>
				  		<br><br>
				  		<button id = "cancelBtn" type="button" class="btn btn-danger btn-sm" style="display: none; width: 100%;">
				  			cancel
				  		</button>
			  		

			  	</form>
				</div>
			</div>



		
		<br><br><br>

		
		{{> navigation}}
	</div>


</body>
</html>
